@import './styles.scss';
@import './media.scss';

header {
  color: white;
  background-color: black;
  font-size: 27px;
  .container {
    padding: 0.7%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .container__list {
    margin-right: 5%;
    display: flex;
  }
  .list__nav {
    cursor: pointer;
    margin-left: 2.5%;
    &:hover {
      transition: all 0.3s;
      color: red;
    }
  }
}
